<header>
  <div class='container'>
    <h1 class="navbar-brand"><%= @identifier.capitalize %> Statistics</h1>
    <div>
      
    <p>Most requested URLS to least requested URLS (url)</p>
    <p>Web browser breakdown across all requests (userAgent)</p>
    <p>OS breakdown across all requests (userAgent)</p>
    <p>Screen Resolution across all requests (resolutionWidth x resolutionHeight)</p>
    <p>Longest, average response time per URL to shortest, average response time per URL</p>
    <p>Hyperlinks of each url to view url specific data</p>
    <p>Hyperlink to view aggregate event data</p>
  </div>
</header>
