<head>
  <h1><%= @identifier.capitalize + " Statistics" %> </h1>
</head>
    <div class='container'>
      <div class='container'>
        <h1 class="navbar-brand"> Events</h1>
        <h6><u>Hour by hour breakdown of when the event was received</u></h6>
        <% @event_analytics[:breakdown].each do |k, v| %>
        <%= "#{k} --- #{v}" %>
          <br>
        <% end %>
      </div>
    </div>
