<h1>Events</h>

  <div class='container'>
    <h1 class="navbar-brand"><%= @identifier.capitalize %> Events</h1>
    <div>

    <p>Most received event to least received event</p>
    <p>Hyperlinks of each event to view event specific data</p>
  </div>
