<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">&nbspTrafficSpy</a>
    </div>
  </nav>
  <body>
    <div>
      <form action="/sources" method="get">
       <p>Enter your identifier:</p>
       <textarea id="identifier" name="identifier_path"></textarea><br/>
       <input type="submit" value="Enter Identifier">
      </form>
    </div>
  </body>
