<div class='container'>
  <h1 class="center">Registered Sources</h1>

    <% @sources.select(:identifier).each do |id| %>
      <p><a href="/sources/<%= id.identifier %>"><%= id.identifier %></p>
    <% end %>

</div>
