<div class="divider"></div>
  <div class="section">
    <h5>URL Statistics</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>Event Details</h5>
    <p>Stuff</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>U</h5>
    <p>Stuff</p>
  </div>
