<h1><%= @identifier.capitalize + " Statistics" %> </h1>
  <div class='container'>
    <div id="http_verbs">
      <lh>The HTTP Verb Used Is:</lh>
      <%= @http_verb %>
    </div>
    <div id="most_referred_by">
      <lh>Page Most Referred By:</lh>
      <% @referred_by.each do |referrer| %>
      <%= referrer %>
      <% end %>
  </div>
