<header>
  <div class='container'>
    <h1 class="navbar-brand"><%= @identifier.capitalize %> Jumpstart Lab Statistics</h1>
    <div id="http_verbs">
      <lh>The HTTP Verb Used Is:</lh>
      <%= @http_verb%>
    </div>
  </div>
</header>
